<% level ||= 0 %>
<% params.each do |param| %>
	<% if !param[:show] %>
		<%= render(:partial => "params", :locals => {:level => level, :params => param[:params]}) unless param[:params].blank? %>
		<% next %>
	<% end %>
	<tr>
		<td class="param-line">
			<div class="param-name"><%= param[:full_name] %></div>
			<div class="param-infos">
				<% if param[:required] %>
					<span class="text-danger"><%= t('apipie.required') %></span>
				<% else %>
					<span class="text-warning"><%= t('apipie.optional') %></span>
				<% end %>
				<% if param[:allow_nil] %>
					<span class="text-danger"><%= ', ' + t('apipie.nil_allowed') %></span>
				<% end %>
			</div>
		</td>
		<td class="param-description">
			<%= param[:description].html_safe %>
			<% unless param[:metadata].blank? %>
				<br>
				Metadata:
				<%= render(:partial => "metadata", :locals => {:meta => param[:metadata]}) %>
			<% end %>

		</td>
		<td>
			<% unless param[:validator].blank? %>
				<%= Apipie.markup_to_html(param[:validator]).html_safe %>
			<% end %>
		</td>
	</tr>

	<%= render(:partial => "params", :locals => {:level => level + 1, :params => param[:params]}) unless param[:params].blank? %>
<% end %>
