<ul class='breadcrumb'>
	<li class='active'><a href='<%= @doc[:doc_url] %><%= @doc[:link_extension] %>'><%= @doc[:name] %> <%= @doc[:resources].values.first && @doc[:resources].values.first[:version] %></a></li>
	<%= render(:partial => "languages", :locals => {:doc_url => @doc[:doc_url]}) %>
	<% if @versions && @versions.size > 1 %>
	<li class='pull-right'>
		<%= @versions.collect { |v| link_to v, Apipie.full_url(v+@doc[:link_extension]) }.join(' / ').html_safe %>
	</li>
	<% end %>
</ul>

<%#<div><%= raw @doc[:info] %/></div> %>

<%#<h1 class='page-header'><%= t('apipie.resources') %/></h1> %>

<% @doc[:resources].sort_by(&:first).each do |key, api| %>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a href='<%= api[:doc_url] %><%= @doc[:link_extension] %>'>
					<%= api[:name] %>
				</a><br>
				<small><%= api[:short_description] %></small>
			</h3>
		</div>
		<div class="panel-body">
			<table class='table'>
				<thead>
					<tr>
						<th><%= t('apipie.methode') %></th>
						<th><%= t('apipie.resource') %></th>
						<th><%= t('apipie.description') %></th>
					</tr>
				</thead>
				<tbody>
					<% api[:methods].each do |m| %>
						<% if !m[:show] %>
							<% next %>
						<% end %>
						<% m[:apis].each do |a| %>
							<tr>
								<td>
									<span class="label <%= a[:http_method].downcase %>"><%= a[:http_method] %></span>
								</td>
								<td>
									<a href='<%= m[:doc_url] %><%= @doc[:link_extension] %>'> <%= a[:api_url] %></a>
									<% if a[:deprecated] %>
										<code>DEPRECATED</code>
									<% end %>
								</td>
								<td width='60%'><%= a[:short_description] %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
<% end %>

<% unless content_for(:apipie_footer) == @doc[:copyright] %>
	<%= content_for :apipie_footer, raw(@doc[:copyright]) %>
<% end %>
